.flash {
  animation: pulse 0.3s ease-in-out;
}

@keyframes pulse {
  0% { box-shadow: 0 0 0 rgba(47,129,247,0); }
  50% { box-shadow: 0 0 20px rgba(47,129,247,0.5); }
  100% { box-shadow: 0 0 0 rgba(194, 48, 238, 0); }
}
